.terraform/
.terraform.lock.hcl


*.tfplan
*.tfstate
*.tfstate.*


crash.log
crash.*.log


*.tfvars
*.tfvars.json

__pycache__/
*.py[cod]
*$py.class


venv/
env/
.venv/

work/
build/
bin/
target/

.DS_Store
.idea/
.vscode/
*.log

# 1c-bonus-G-Cli-Check Artifacts/
# 2A-Cli-Check Artifacts/
# 2B-Lab-2B_Be_A_Man-B-Artifacts/
# 2B-Lab-2B_Be_A_Man-C-Artifacts/
# 2B-Lab-2B_Be_A_Man-A-Artifacts/
# Lab-1A-to-1C-Bonus-F-cli-checks-artifacts/
# Lab-3B-Artifacts/
# lab-example/
# Webhook-proof/

plan 
plan.tfgraph
graph.png

lc-bonus-G-Bedrock-S3-Reports/